style
        p{
            color: rgb(12, 218, 241);
            font-size: medium;
        }
        h2{
            color: #fc2307;
            background-color: black;
        }
        h1{
            color: red;
            text-shadow: black;
        }#sla{
            background-color: orangered;
        }
        .testament{
            position: absolute;
            top: 100px;
            right: 300px;
        }
    style